<div class="wrapper">
  <div class="topicos">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <ul class="topicos-footer">
            <h4>Fake Banking</h4>
            <li><a href="/">Quem somos</a></li>
            <li><a href="/">Nossos serviços</a></li>
            <li><a href="/">Carreiras</a></li>
            <li><a href="/">Desenvolvedores</a></li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
            <h4>Para você</h4>
            <li><a href="/">Abra sua conta</a></li>
            <li><a href="/">Cartões de crédito</a></li>
            <li><a href="/">Créditos e finaciamentos</a></li>
            <li><a href="/">Investimentos pessoa fisica</a></li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
            <h4>Segmentos</h4>
            <li><a href="/">Comercial banking</a></li>
            <li><a href="/">Seguros</a></li>
            <li><a href="/">Tesouro direto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="rodape">
    <p class="text-center">&copy; Todos os Direitos reservados a
      <b>
        <a href="/">
          Fake Banking
        </a>
      </b>
    </p>
  </footer>
</div>
