@font-face
  font-family: 'Poppins'
  src: url('https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecmNE.woff2') format('woff2')

.wrapper-content
  width: 99.1vw
  height: 85vh
  z-index: -9999
  top: -60px

  .box-tile
    position: absolute
    top: 30%
    left: 10%
    padding: 10px

    .tag
      position: absolute
      font-size: 60pt
      color: #b60909
      top: 15px
      margin-left: -100px
      font-weight: bold

.typing-element
  font-size: 60pt
  color: #fff
  margin-left: -50px
  text-shadow: 2px 2px #333
  font-family: 'Crete Round', serif !important

.bg_img
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%
  z-index: -1000
  background: url('../../assets/images/people-bank.jpg') no-repeat
  background-size: 100% 100%
